<%= render 'account/shared/page' do |page| %>
  <% page.title t('.section') %>
  <% page.body do %>
    <%= updates_for @song do %>
      <%= render 'account/shared/box', divider: true do |box| %>
        <% box.title t('.header') %>
        <% box.description do %>
          <%= t('.description') %>
          <%= t('.manage_description') if can? :manage, @song %>
        <% end %>

        <% box.body do %>
          <% with_attribute_settings object: @song, strategy: :label do %>
            <%= render 'shared/attributes/text', attribute: :title %>
            <%= render 'shared/attributes/text', attribute: :author %>

            <!-- ã‚­ãƒ¼ã®selectã¨å¤‰èª¿ã™ã‚‹ãƒ­ã‚¸ãƒƒã‚¯ã¨ã®ç´ä»˜ã‘ -->
            <div data-controller="key-change"
                 data-key-change-original-key-value="<%= @song.original_key %>"
                 data-key-change-original-song-body-value="<%= @song.body %>">
              <%= select_tag(:key,
                options_for_select(@song.all_keys.values, @song.original_key),
                "data-key-change-target": "keySelect" ,
                "data-action": "change->key-change#changeKey")
              %>
              <div data-key-change-target="songBodyContainer">
                <%# TODO: ã‚¹ã‚¿ã‚¤ãƒ«ã‚·ãƒ¼ãƒˆã«å…¥ã‚ŒãŸæ–¹ãŒã„ã„ã€‚ %>
                <div style="white-space: pre !important;"><%= @song.body %></div>
              </div>
            </div>

            <%= render 'shared/attributes/text', attribute: :video_url %>
            <%# ðŸš… super scaffolding will insert new fields above this line. %>
          <% end %>
        <% end %>

        <% box.actions do %>
          <%= link_to t('.buttons.edit'), [:edit, :account, @song], class: first_button_primary if can? :edit, @song %>
          <%# ðŸš… super scaffolding will insert new action model buttons above this line. %>
          <%= button_to t('.buttons.destroy'), [:account, @song], method: :delete, class: first_button_primary, data: { confirm: t('.buttons.confirmations.destroy', model_locales(@song)) } if can? :destroy, @song %>
          <%= link_to t('global.buttons.back'), [:account, @team, :songs], class: first_button_primary %>
        <% end %>

        <% box.raw_footer do %>
          <%# ðŸš… super scaffolding will insert new action model index views above this line. %>
        <% end %>
      <% end %>
    <% end %>

    <%# ðŸš… super scaffolding will insert new children above this line. %>
  <% end %>
<% end %>
